*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color:rgb(224,224,224);
    width:100vw;
    height:100vh;
}
.header{
    top:0;
    left:0;
}
#heading{
    font-size:3em;
    background-color:white;
    width:100%;
    height:60px;
}
.left-container{
    height:867px;
    width:50%;
    position:absolute;
}
#image{
    position:absolute;
    width:350px;
    height:400px;
    top:250px;
    left:200px;
    border-radius:20px;
    border: 10px solid black;
}
#name{
    position:absolute;
    font-size:2.5em;
    text-align:center;
    top:90px;
    left:50px;
}
.right-container{
    position:absolute;
    width:50%;
    height: 867px;
    right:0;
    background-color:rgba(157, 165, 250, 0.91);
    border-radius:20px;
    box-shadow: 10px 10px 10px rgba(71, 85, 245, 0.91) inset;
    font-size:1.3em;
    padding:40px;
}
p{
    top:10px;
}
#items{
    font-size:1.5em;
}
img{
    position:absolute;
    top:500px;
    left:40px;
    width:150px;
    height:150px;
}
#items2{
     font-size:1.2em;
     line-height:1.6;
}